:root {
    --heading-background-color: #71beeb;
    --background: #ffffff;
    --header_title-color: #000000;
    --text-color: #151E3F;
    --accent-color: #F2F3D9;
    --font: 'Prompt';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background-color: var(--accent-color);
    color: var(--text-color);
}

header {
    background-color: var(--heading-background-color);
    color: var(--header_title-color);
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font);
}

nav {
    background-color: var(--background);
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font);
    margin: 0 50px;
}

nav a:hover {
    color: var(--accent-color);
    background-color: var(--heading-background-color);
    padding: 5px;
    border-radius: 5px;
}

ul a:hover {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font);
    margin: 0 50px;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--font);
}

h2 {
    font-size: 25px;
    font-weight: bold;
    font-family: var(--font);
    padding: 10px;
    margin: 0;
    height: 50px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font);
    padding: 10px;
    margin: 0;
}

p {
    font-size: 15px;
    font-family: var(--font);
}

.location h2 {
    order: 0;
    grid-row: 1;
    grid-column: 1;
    background-color: var(--heading-background-color);
    color: var(--header_title-color);
    text-align: center;
    padding: 10px;
    margin: 0;
}



.location {
    flex: 1;
    min-width: 300px;
    background-color: var(--background);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.coursework {
    flex: 1 1 45%;
    min-width: 300px;
    max-width: 600px;
    background-color: var(--background);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.coursework h2 {
    order: 0;
    grid-row: 1;
    grid-column: 1;
    background-color: var(--heading-background-color);
    color: var(--header_title-color);
    text-align: center;
    padding: 10px;
    margin: 0;
}

.certificate {
    flex: 1 1 45%;
    min-width: 300px;
    max-width: 600px;
    background-color: var(--background);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin: 20px auto;
    text-align: center;
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.certificate h2 {
    order: 0;
    grid-row: 1;
    grid-column: 1;
    background-color: var(--heading-background-color);
    color: var(--header_title-color);
    text-align: center;
    padding: 10px;
    margin: 0;
}


.info {

    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: left;
}

.state {
    grid-row: 4;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    text-align: right;
}

.profile {
    height: auto;
}

.flag {
    width: 100%;
    height: auto;
}

ul {
    font-family: var(--font);
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

li {
    font-size: 20px;
    font-family: var(--font);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
}



.course {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.course-card {
    border: 1px solid var(--text-color);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: var(--background);
    text-align: center;
}

.course-card.completed {
    background-color: #d4edda; 
    border-color: #c3e6cb;
    color: #155724;
}

footer {
    grid-area: footer;
    background-color: var(--heading-background-color);
    color: var(--header_title-color);
    text-align: center;
    padding: 15px;
    border-top: 1px solid var(--background);
}

#lastModified {
    color: var(--header_title-color);
}

footer #currentyear {
    font-weight: bold;
}